<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <a class="btn btn-success" [routerLink]="['/new']">Add new restaurant</a>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Restaurant</th>
                <th scope="col">Cuisine</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody *ngFor="let restaurant of restaurants">
              <tr>
                <td>{{restaurant.name}}</td>
                <td>{{restaurant.cuisine}}</td>
                <td><a [routerLink]="['/show/'+restaurant._id]" class="btn btn-primary">Read reviews</a>
                    <a [routerLink]="['/edit/'+restaurant._id]" class="btn btn-info">Update</a>
                    <a class="btn btn-danger" (click)="deleteRestaurant(restaurant._id)">Delete</a></td>
              </tr>

            </tbody>
          </table>
    </div>
</body>
</html>
