<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<body>
    <div class="container">

        <h2>Here is garfield:</h2>
        <img src="/images/garfield.jpg">
        <p>Garfield is a fictional cat and the protagonist of the comic strip of the same name, created by Jim Davis.
            The comic strip centers on Garfield, portrayed as a lazy, fat, and cynical orange cat. He is noted for his
            love of lasagna and sleeping, and his hatred of Mondays, fellow cat Nermal and exercise.</p>
    </div>
</body>

</html>