<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<body>
    <div class="container">

        <h2>Here is ragdoll:</h2>
        <img src="/images/ragdoll.jpg">
        <p>The Ragdoll is a cat breed with a color point coat and blue eyes. They are large and muscular semi-longhair
            cat with a soft and silky coat. Developed by American breeder Ann Baker in the 1960s, they are best known
            for their docile and placid temperament and affectionate nature.</p>
    </div>
</body>

</html>